@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="left_part">
    <div class="catagory">
        <div class="collumn1">
            @Html.Action("NonSystemMenu", new{ id = 8, viewName = "HomePageMenuModule"})
            @Html.Action("NonSystemMenu", new{ id = 11, viewName = "HomePageMenuModule"})
        </div>
                
        <div class="collumn1">
            @Html.Action("NonSystemMenu", new{ id = 9, viewName = "HomePageMenuModule"})
            @Html.Action("NonSystemMenu", new{ id = 12, viewName = "HomePageMenuModule"})
        </div>
                
        <div class="collumn1">
            @Html.Action("NonSystemMenu", new{ id = 10, viewName = "HomePageMenuModule"})
            @Html.Action("NonSystemMenu", new{ id = 13, viewName = "HomePageMenuModule"})
        </div>
        <div class="clear"></div>
    </div><!--end catagory-->
       		
    <div class="news-box">
        <div class="title">News & Announcements</div>
        <div align="center" class="margin-top_10"><img src="~/Content/images/dig_img.jpg" width="256" height="220"></div>
                
        <figcaption>June 10-Aug 10. A reading game and free performances. Click Branch Calendars for events.<br />
		    <span class="more margin-top_10"><a href="#">view all news</a></span>
            <span class="pagination"><a href="#"><img src="~/Content/images/pagination.jpg" width="99" height="20"></a></span>    
        </figcaption>  
    </div>
                
    <div class="event-box">
        @Html.Action("FeaturedEvents")
    </div><!--end events-->
    <div class="clear"></div>
</div><!--end left_part-->
            
<div class="right_part">
    <div class="margin-top_10" style="line-height: 0px;">&nbsp;</div>
    @Html.Action("Container", new{ id = ViewBag.PageId })
</div> <!--end right part-->
