@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="left_part">
    <div style="margin-top: 30px;">
        @if (ViewBag.PageType == 2)
        {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))
            <div class="margin-top_10">&nbsp;</div>
            <div style="color: red; text-align: center">@Html.ValidationSummary()</div>
            <div class="margin-top_10">&nbsp;</div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="formlabel">&nbsp;</div>
            <div class="formfield" style="color: red;">@ViewBag.Message</div>
            <div class="clear">&nbsp;</div>
            <div class="margin-top_10">&nbsp;</div>
        }
        @if (ViewBag.PageType == 2)
        {
            @Html.Action("getForm", new { parentId = Model.PageID, id = ViewBag.id})
        }
        else if(ViewBag.PageType == 3)
        {
            @Html.Action("getFAQ", new { id = ViewBag.id})   
        }
        else if(ViewBag.PageType == 4)
        {
            @Html.Action("getBlog", "Home", new { id = Model.PageTypeId })
        }
        else
        {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content)) 
        }
    </div>
</div><!--end left_part-->
            
<div class="right_part">
    <div class="margin-top_10">&nbsp;</div>
    @if(ViewBag.PageId != null)
    {
        @Html.Action("Container", "Home", new{ id = ViewBag.TemplateId })
    }
</div> <!--end right part-->
